* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	height: 100%;
	display: inline;
}

/* Section 1 */

.section1 {
	width: 100%;
	background: #efefef;
	padding: 3%;
	height: 100%;
}

/* Header */

header {
	overflow: hidden;
	padding-bottom: 3%;
}
#logo {
	float: left;
	width: 25%;
	padding-left: 5%;
	display: inline;
}
#logoImg {
	height: auto;
	width: 50%;
}
#skylights {
	font-size: 75%;
	font-weight: bold;
	padding-left: 17%;
}
.call {
	float: right;
	width: 60%;
	padding-right: 10%;
	padding-top: 2%;
	text-align: right;
}
#call {
	display: inline;
	font-size: 120%;
	font-weight: 100;
	color: #5a5a5a;
}
#number {
	display: inline;
	font-size: 120%;
	font-weight: 100;
	color: red;
}

/* Section One Images */

.photos {
	display: inline;
	width: 60%;
	height: auto;
	padding-left: 5%;
}
.firstImage {
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);
}
.secondImage {
	position: relative;
	margin-bottom: -5%;
	z-index: 1;
	-webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);
}

/* Section One Content */

.info {
	display: inline;
	width: 40%;
	float: right;
	margin-top: 10%;
	margin-right: 7%;
}
h2 {
	font-variant: small-caps;
	padding-bottom: 5%;
	font-size: 125%;
}
h1 {
	font-size: 350%;
	font-weight: lighter;
	padding-bottom: 5%;
}
.secondaryInfo {
	color: #5a5a5a;
	font-size: 130%;
	padding-bottom: 5%;
}
.learnMore {
	padding: 1em 2em 1em 2em;
	background-color: red;
	border: .25em red;
	color: white;
	font-size: 100%;
}

/* Section Two */

.section2 {
	padding: 5% 3% 3% 3%;
	overflow: hidden;
}

/* Section Two Form */

.form {
	background: #efefef;
	width: 35%;
	margin-left: 5%;
	display: inline-block;
}
#parallelogram {
	margin-top: -6%;
	z-index: 1;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}
#helpInfo {
	background: red;
	font-size: 200%;
	color: white;
	width: 45%;
	margin: 0 auto;
}
.form p {
	color: #5a5a5a;
	padding: 3%;
	text-align: center;
	font-size: 125%;
}
label {
	display: block;
	color: #5a5a5a;
	font-size: 95%;
	margin-left: 15%;
}
label strong {
	color: red;
}
input[type='text'], input[type='tel'], input[type='email'] {
	display: block;
	margin: 0 auto 3% auto;
	font-size: 100%;
	line-height: 200%;
	width: 70%;
	border: none;
}
textarea {
	display: block;
	margin: 0 auto 3% auto;
	font-size: 100%;
	height: 10em;
	width: 70%;
	border: none;
}
#subBtn {
	text-align: center;
	margin-bottom: 5%;
}
input[type='submit'] {
	padding: 1em 3em 1em 3em;
	margin: 0 auto;
	background-color: red;
	border: .25em red;
	color: white;
	font-size: 100%;
}

/* Section Two Content */

.content {
	float: right;
	width: 50%;
}
.installation {
	display: inline;
	float: left;
	width: 45%;
	padding-bottom: 7%;
}
.installation h2 {
	font-size: 125%;
}
.installation p {
	color: #5a5a5a;
	font-size: 105%;
	padding: 7% 0 7% 0;
}
.installation a, .installation a:visited {
	color: red;
	font-size: 120%;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}
.products {
	display: inline;
	float: left;
	width: 45%;
	padding-bottom: 7%;
}
.products h2 {
	font-size: 125%;
}
.products p {
	color: #5a5a5a;
	font-size: 105%;
	padding: 7% 0 7% 0;
}
.products a, .products a:visited {
	color: red;
	font-size: 120%;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}
hr {
	display: block;
	width: 85%;
}
.downloads {
	display: inline;
	float: left;
	width: 45%;
	padding-right: 1%;
}
.downloads h2 {
	padding-top: 10%;
	font-size: 125%;
}
.pdf {
	background-color: #efefef;
	height: 50px;
	width: 50px;
	border: none;
	display: block;
	float: left;
	margin-bottom: 2%;
}
.pdf img {
	height: 50%;
	width: auto;
}
.downloadButton {
	background-color: #efefef;
	font-size: 100%;
	color: #5a5a5a;
	height: 50px;
	width: 200px;
	border: none;
	display: block;
	float: left;
	margin-left: 1%;
	margin-bottom: 2%;
}
.architectTools {
	display: inline;
	float: left;
	width: 45%;
}
.architectTools h2 {
	padding-top: 10%;
	font-size: 125%;
}
.architectButton {
	background-color: white;
	font-size: 120%;
	color: #5a5a5a;
	height: 50px;
	width: 125px;
	border: none;
	text-align: left;
	font-variant: small-caps;
}
.architectButton img {
	height: 50%;
	width: auto;
	padding-right: 2%;
}

/* Section Three */

.section3 {
	background: #efefef;
	width: 100%;
	padding: 3%;
	overflow: hidden;
}
.section3 h2 {
	padding-bottom: 2%;
	padding-left: 5%;
	font-size: 125%;
}

/* Section Three Image */

.section3 img {
	padding-left: 5%;
}

/* Section Three Content */

.partnership {
	float: right;
	margin-right: 25%;
}
.partnership p {
	font-size: 120%;
	color: #5a5a5a;
	line-height: 1.5;
	margin-bottom: 10%;
}
#partHeading {
	font-size: 175%;
	color: black;
	font-weight: 600;
	margin-top: 7%;
	margin-bottom: 3%;
}
.partnership a, .partnership a:visited {
	color: red;
	font-size: 120%;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}

/* Section Four */

.section4 {
	text-align: center;
	overflow: hidden;
}
.section4 h2 {
	font-size: 125%;
	padding: 4%;
}

/* Section Four Logos */

.logos {
	width: 100%;
	text-align: center;
}
#bimLogo {
	height: auto;
	width: 7%;
	vertical-align: middle;
	padding-right: 10%;
	padding-bottom: 5%;
}
#fpLogo {
	height: auto;
	width: 15%;
	vertical-align: middle;
	padding-right: 10%;
	padding-bottom: 5%;
}
#autocadLogo {
	height: auto;
	width: 7%;
	vertical-align: middle;
	padding-right: 10%;
	padding-bottom: 5%;
}
#siemansLogo {
	height: auto;
	width: 15%;
	vertical-align: middle;
	padding-bottom: 5%;
}

/* Footer */

footer {
	background: #262626;
	padding: 3%;
	overflow: hidden;
	width: 100%;
}

/* Footer Image */

footer img {
	height: auto;
	width: 9%;
	padding-left: 5%;
	display: inline;
	vertical-align: middle;
}

/* Footer Content */

#copyright {
	color: #8c8c8c;
	font-size: 85%;
	font-weight: bold;
	display: inline;
	vertical-align: text-top;
	padding-left: 2%;
}
#website {
	color: #8c8c8c;
	font-size: 85%;
	font-weight: bold;
	display: inline;
	float: right;
	vertical-align: middle;
	padding-top: 0.8%;
	padding-right: 10%;
}
