* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
}

/* Section 1 */

.section1 {
	background: #efefef;
	padding: 3%;
}

/* Header */

#logo {
	padding-left: 5%;
	display: inline;
}

.call {
	float: right;
	width: 70%;
	padding-right: 5%;
	padding-top: 2%;
	text-align: right;
}

#call {
	display: inline;
	font-size: 120%;
	font-weight: 100;
	color: #5a5a5a;
}

#number {
	display: inline;
	font-size: 120%;
	font-weight: 100;
	color: red;
}

/* Section One Images */

.photos {
	display: inline;
	height: 100%;
	width: 100%;
}

.firstImage {
	transform: rotate(-15deg);
}

.secondImage {
	transform: rotate(-15deg);
}

/* Section One Info */

.info {
	display: inline;
	position: absolute;
	top: 70%;
	left: 60%;

}
h3 {
	font-variant: small-caps;
	padding-bottom: 5%;
}
h1 {
	font-size: 350%;
	font-weight: lighter;
	padding-bottom: 5%;
}

.secondaryInfo {
	color: #5a5a5a;
	font-size: 130%;
	padding-bottom: 5%;
}
.learnMore {
	padding: 1em 2em 1em 2em;
	background-color: red;
	border: .25em red;
	color: white;
	font-size: 100%;
}
.section3 {
	background: #efefef;
}
